@charset "utf-8";

:root {
  font-size: 16px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 0.875rem;
  background-color: #959EC9;
}

@media (max-width: 34em) {
  body {
    font-size: 0.75rem;
  }
}

body::before {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1600px auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

a {
  color: #ff9900;
  text-decoration: none;
}

a:link,
a:visited {
  color: #ff9900;
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(204, 122, 0);
  text-decoration: none;
}



.main__title {
  font-family: 'Tinos', serif;
  font-size: 5rem;
  color: #E90060;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
  padding-top: 160px;
  padding: 160px 0 30px;
}

@media (max-width: 34em) {
  .main__title {
    font-size: 3rem;
    line-height: 1.1;
  }
}

.main__title2 {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ff6600;
  text-align: center;
}

.main__title2 span {
  font-size: 1.0rem;
  color: #666;
}

@media (max-width: 34em) {
  .main__title2 {
    font-size: 1.125rem;
    margin-top: 20px;
  }
}

@media (max-width: 34em) {
  .main__title2 span {
    font-size: 0.875rem;
  }
}

.main__title3 {
  color: #f00;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 34em) {
  .main__title3 {
    font-size: 0.750rem;
  }
}

.main__text {
  font-size: 0.875rem;
  margin: 35px auto;
}

@media (max-width: 34em) {
  .main__text {
    font-size: 0.75rem;
  }
}

.main__text2 {
  font-size: 0.75rem;
  margin: 40px auto 30px;
}

.main__detail {
  background: #fff;
  padding: 1.5rem 2rem .5rem;
}

@media (max-width: 34em) {
  .main__detail {
    padding: .5rem 1rem .5rem;
  }
}

.socialButton {
  text-align: center;
  margin: 20px auto 40px;
}

.socialButton .fb_iframe_widget {
  vertical-align: baseline;
  display: inline;
}

.socialButton > iframe {
  vertical-align: bottom;
}

.socialButton__line {
  display: inline;
}



@media (max-width: 34em) {
  .socialButton__line img {
    margin-top: 10px;
  }
}



.sub__title {
  background-image: url(../img/title_bg@2x.png);
  background-size: 4px 43px;
  background-repeat: repeat-x;
}

.sub__title h2 {
  background-image: url(../img/fireworks.png);
  background-size: 33px 33px;
  background-position: 8px 1px;
  background-repeat: no-repeat;
  font-size: 1.063rem;
  padding-left: 3rem;
  margin-bottom: 0;
  color: #E90060;
  line-height: 42px;
}

@media (max-width: 48em) {
  .sub__title h2 {
    font-size: .9rem;
  }
}

.sub__title2 {
  font-size: 1.25rem;
  color: #ff9900;
}

.sub__text2 {
  font-size: 0.75rem;
}

.sub__label {
  vertical-align: text-bottom;
  margin-left: .25rem;
}



.tweet__inner {
  overflow: hidden;
}



.account__name {
  font-size: 1.0rem;
}



.news__list {
  padding-left: 1rem;
}

.news__list li {
  margin-bottom: .5rem;
}

.news__title {
  color: #FF6E00;
}



.btn__entry {
  text-align: center;
}

.btn__entry a {
  color: #FFF;
  background: #5050C5;
  border: none;
  border-radius: 0.5rem;
  padding: .5rem 4rem;
  font-size: 1.1rem;
}

.btn__entry a:hover,
.btn__entry a:active {
  background: rgb(140, 140, 217);
}

@media (min-width: 34em) {
  .btn__entry a {
    font-size: 1.5rem;
    padding: .5rem 5rem;
  }
}

.btn__tweet {
  text-align: center;
}

.btn__tweet a {
  color: #FFF;
  background: #5050C5;
  border: none;
  border-radius: .4rem;
  padding: .4rem 2rem;
}

.btn__tweet a:hover {
  background: rgb(140, 140, 217);
}

@media (max-width: 34em) {
  .btn__tweet a {
    font-size: .7rem;
    padding: .375rem .6rem;
  }
}

.copyright {
  text-align: center;
  color: #666;
  font-size: 0.75rem;
}
