@charset "utf-8";

:root {
  font-size: 16px;
}

$screen-xs: 0;
$screen-sm: 34em;
$screen-md: 48em;
$screen-lg: 62em;
$screen-xl: 75em;

$textcolor: #000;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.6;
  text-size-adjust: 100%;
  font-size: 0.875rem;
  background-color: #959EC9;
  @media (max-width: $screen-sm) {
    font-size: 0.75rem;
  }
  &::before{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
  }
}

a {
  color: #ff9900;
  text-decoration: none;
  &:link,
  &:visited {
    color: #ff9900;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: color(#ff9900 lightness(40%));
    text-decoration: none;
  }
}

.main {
  &__title {
    font-family: 'Tinos', serif;
    font-size: 5rem;
    color: #E90060;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    padding-top: 160px;
    padding: 160px 0 30px;
    @media (max-width: $screen-sm) {
      font-size: 3rem;
      line-height: 1.1;
    }
  }
  &__title2 {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #ff6600;
    text-align: center;
    @media (max-width: $screen-sm) {
      font-size: 1.125rem;
        margin-top: 20px;
    }
    span {
      font-size: 1.0rem;
      color: #666;
      @media (max-width: $screen-sm) {
        font-size: 0.875rem;
      }
    }
  }
  &__title3 {
    color: #f00;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    @media (max-width: $screen-sm) {
      font-size: 0.750rem;
    }
  }
  &__text {
    font-size: 0.875rem;
    margin: 35px auto;
    @media (max-width: $screen-sm) {
      font-size: 0.75rem;
    }
  }
  &__text2 {
    font-size: 0.75rem;
    margin: 40px auto 30px;
  }
  &__detail {
    background: #fff;
    padding: 1.5rem 2rem .5rem;
    @media (max-width: $screen-sm) {
      padding: .5rem 1rem .5rem;
    }
  }
}

.socialButton {
  text-align: center;
  margin: 20px auto 40px;
  & > iframe {
    vertical-align: bottom;
  }
  .fb_iframe_widget {
    vertical-align: baseline;
    display: inline;
  }
  &__line {
    display: inline;
    img {
      @media (max-width: $screen-sm) {
        margin-top: 10px;
      }
    }
  }
}

.sub {
  &__title {
    background-image : url(../img/title_bg@2x.png);
    background-size: 4px 43px;
    background-repeat: repeat-x;
    h2 {
      background-image : url(../img/fireworks.png);
      background-size: 33px 33px;
      background-position: 8px 1px;
      background-repeat: no-repeat;
      font-size: 1.063rem;
      padding-left: 3rem;
      margin-bottom: 0;
      color: #E90060;
      line-height: 42px;
      @media (max-width: $screen-md) {
        font-size: .9rem;
      }
    }
  }
  &__text2 {
    font-size: 0.75rem;
  }
  &__label {
    vertical-align: text-bottom;
    margin-left: .25rem;
  }
}

.tweet {
  &__inner {
    overflow: hidden;
  }
}

.account {
  &__name {
    font-size: 1.0rem;
  }
}

.news {
  &__list {
    padding-left: 1rem;
    li {
      margin-bottom: .5rem;
    }
  }
  &__title {
    color: #FF6E00;
  }
}

.btn {
  &__entry {
    text-align: center;
    a {
      color: #FFF;
      background: #5050C5;
      border: none;
      border-radius: 0.5rem;
      padding: .5rem 4rem;
      font-size: 1.1rem;
      &:hover,
      &:active {
        background: color(#5050C5 lightness(70%));
      }
      @media (min-width: $screen-sm) {
        font-size: 1.5rem;
        padding: .5rem 5rem;
      }
    }
  }
  &__tweet {
    text-align: center;
    a {
      color: #FFF;
      background: #5050C5;
      border: none;
      border-radius: .4rem;
      padding: .4rem 2rem;
      &:hover {
        background: color(#5050C5 lightness(70%));
      }
      @media (max-width: $screen-sm) {
        font-size: .7rem;
        padding: .375rem .6rem;
      }
    }
  }
}

.copyright {
  text-align: center;
  color: #666;
  font-size: 0.75rem;
}
