footer.footer#footer
    p.footer__text
        | ※「yumetabi」という名称は、シンガーソングライター・初音さんの「ユメタビ列車」という曲からインスパイアされて、名付けさせていただきました。
    .footer__inner
        p.copyright &copy; 
            a(href='http://littlebird.mobi') littlebird
