extends ./_parts/_layout

//------------------
//- meta
//------------------
block var_block

//------------------
//- header Css
//------------------
block headCSS

//------------------s
//- header js
//------------------
block headJS
    script(src="#{rootPath}js/script.js")

//- -----------------
//- Contents
//- -----------------
block header_block

block contents_block
    .main
        h1.main__title
            img(src='#{rootPath}img/logo_teaser@2x.png', alt='yumetabi.club', width='441', height='54')
        p.main__text
            | Project for Dreamers and their followers.
        p.main__text2
            | このサイトでは夢を追う人と、それを応援する人を
            br
            | サポートするためのプロジェクトを展開していく予定です。

block footer_block




