extends ../_parts/_layout

//------------------
//- variable
//------------------
block var_block
    - var title             = '初音ファン一同による「初音さんバースデー企画 2015」';//-meta title
    - var description       = '初音さんのバースデーライブ「初音茶屋THE BIRTHDAY～二十五伝・二十五記～」をファンみんなでお祝いしよう！';//-meta description
    - var keywords          = '初音,奥村初音,女性シンガーソングライター,歌手,初音茶屋,ライブ,バースデー,誕生日';//-meta keywords
    - var og_url            = 'http://hatsune.yumetabi.club/birthday2015/';//-og url
    - var og_type           = 'website';//-og type
    - var og_title          = title;//-og title
    - var og_image          = 'http://hatsune.yumetabi.club/birthday2015/img/ogimage.png';//-og image
    - var og_description    = description;//-og description
    - var tw_type           = 'summary_large_image';//-twitter card type
    - var tw_site           = '@hatsune_movie';
    - var tw_url            = og_url;
    - var tw_title          = title;
    - var tw_description    = description;
    - var tw_image          = og_image;
    - var bodyClass         = 'PageBirthday2015';//body -class
    - var rootPath          = '../'//-root path

//------------------
//- header meta
//------------------
block headMETA
    link(href="https://fonts.googleapis.com/css?family=Original+Surfer", rel="stylesheet", type="text/css")

//------------------
//- header css
//------------------
block headCSS

//------------------s
//- header js
//------------------
block headJS

//- -----------------
//- Contents
//- -----------------
block header_block

block contents_block
    .birthday2015
        .birthday2015__content
            h1.birthday2015__title
                | Hatsune 
                br.mobile_display_inline
                | 25th 
                br.mobile_display_inline
                | Anniversary
            h2.birthday2015__title2
                | 初音ファン一同による
            h2.birthday2015__title3
                | 初音さんバースデー企画 2015
            p.birthday2015__text
                | 2015年10月11日、10月12日に行われるワンマンライブ・初音茶屋で、初音さんは25歳の誕生日を迎えます。
                br
                | それに合わせて、ファン一同からプレゼントとバースデーサプライズの企画でお祝いしませんか？
                br
                br
                | 10月11日「ワンマンライブ初音茶屋 vol.44」Yokohama O-SITE
                br
                | 10月12日「ワンマンライブ初音茶屋 vol.45」umeda AKASO
                br
                br
                | ※上記の各公演でプレゼント代のカンパと当日の参加を募集しています。
                br
                br
                | この企画に賛同し、ご協力いただける方は、ぜひ下記ボタンから申し込みページヘ進み、参加登録をお願いします。
            p.birthday2015__button
                a(href='http://twipla.jp/events/166587') 参加＆詳細ページヘ
            p.birthday2015__text2
                | ※参加登録にはTwitterのアカウントが必要になります。
                br
                | Twitterアカウントをお持ちでない方は、
                a(href='mailto:yumetabi.club@gmail.com')
                    | yumetabi.club@gmail.com
                | まで、メールにてご連絡ください。
                br
                | ※この企画は事前にスタッフさんの許可を得て実行しています。
            .socialButton
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="#{description}" data-hashtags="初音生誕祭" data-lang="ja">ツイート</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <div class="fb-like" data-href="#{og_url}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                <div class="fb-share-button" data-href="#{og_url}" data-layout="button"></div>
                .socialButton__line
                    <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
                    <script type="text/javascript">new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"});</script>

block footer_block




