:root {
  font-size: 10px;
}

$textcolor: #000;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: $textcolor;
}

.wrapper {
  
}

.PageUnderConstruction {
  background: color(#978bb7 lightness(80%));
  .content {
    display: table;
    width: 100%;
    height: 650px;
  }
}

.underConstruction {
  display: table-cell;
  vertical-align: middle;
  &__title {
    color: #FF7D00;
    font-size: 3.6rem;
    text-align: center;
  }
}

.footer {
  
}

.copyright {
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 1.2rem;
}

@import "layout_parts/_cat1";



