:root {
  font-size: 10px;
}

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$textcolor: #000;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: $textcolor;
  font-size: 1.2rem;
  line-height: 1.6;
  text-size-adjust: 100%;
}

a {
  color: #39BCD4;
  text-decoration: none;
  &:link,
  &:visited {
    color: #39BCD4;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: #39BCD4;
    text-decoration: underline;
  }
}

.wrapper {
  
}

.PageUnderConstruction {
  background: color(#E43859 lightness(70%));
  color: #fff;
  .content {
    display: table;
    width: 100%;
    height: 650px;
  }
}

.underConstruction {
  display: table-cell;
  vertical-align: middle;
  &__title {
    font-size: 3.6rem;
    text-align: center;
  }
}

.PageBirthday2015 {
  background: linear-gradient(-180deg, color(#E42065 lightness(65%)) 0%, rgba(200,109,215,0.01) 30%);
  background-repeat: repeat-x;
}

.birthday2015 {
  background-image: url(../birthday2015/img/stars@2x.png);
  background-repeat: repeat-x;
  background-size: 209px 152px;
  &__content {
    width: 768px;
    margin: 0 auto;
    @media (max-width: $screen-sm) {
      width: initial;
      padding: 0 20px;
    }
  }
  &__title {
    font-family: 'Original Surfer', cursive;
    font-size: 5.6rem;
    color: #FD3A3A;
    text-align: center;
    padding-top: 160px;
    @media (max-width: $screen-sm) {
      font-size: 4.8rem;
      line-height: 1.1;
    }
  }
  &__title2 {
    font-size: 1.6rem;
    color: #666;
    text-align: center;
    @media (max-width: $screen-sm) {
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }
  &__title3 {
    font-size: 2rem;
    color: #FF6E00;
    text-align: center;
    @media (max-width: $screen-sm) {
      font-size: 1.8rem;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin: 40px auto;
    @media (max-width: $screen-sm) {
      font-size: 1.2rem;
    }
  }
  &__text2 {
    font-size: 1.2rem;
    margin: 40px auto;
  }
  &__button {
    text-align: center;
    a {
      display: inline-block;
      text-align: center;
      color: #FFF;
      font-size: 2.4rem;
      background: #FFAB16;
      border-radius: 9px;
      padding: 15px 80px;
      &:hover {
        text-decoration: none;
        background: color(#FFAB16 lightness(70%));
      }
      @media (max-width: $screen-xs) {
        font-size: 1.8rem;
        padding: 10px 0;
        width: 100%;
        &:hover {
          text-decoration: none;
          background: #FFAB16;
        }
      }
    }
  }
}

.socialButton {
  text-align: center;
  margin: 20px auto 40px;
  #twitter-widget-0 {
    vertical-align: bottom;
  }
  .fb_iframe_widget {
    vertical-align: baseline;
  }
  &__line {
    display: inline;
    img {
      vertical-align: bottom;
    }
  }
}

.footer {
  
}

.copyright {
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 1.2rem;
}

.mobile_display_inline {
  display: none;
  @media (max-width: $screen-sm) {
    display: inline;
  }
}


