extends ./_parts/_layout

//------------------
//- meta
//------------------
block var_block
    - var bodyClass         = 'PageUnderConstruction';//body -class

//------------------
//- header Css
//------------------
block headCSS

//------------------s
//- header js
//------------------
block headJS

//- -----------------
//- Contents
//- -----------------
block header_block
    script(src="#{rootPath}js/script.js")

block contents_block
    .underConstruction
        h1.underConstruction__title Under Construction

block footer_block
    include ./_parts/_footer


