extends ./_parts/_layout

//------------------
//- variable
//------------------
block var_block

//------------------
//- header meta
//------------------
block headMETA

//------------------
//- header Css
//------------------
block headCSS
    link(rel="stylesheet", href="#{rootPath}css/style.css")

//------------------s
//- header js
//------------------
block headJS

//- -----------------
//- Contents
//- -----------------
block header_block
    script(src="#{rootPath}js/script.js")

block contents_block
    .underConstruction
        h1.underConstruction__title Under Construction

block footer_block
    include ./_parts/_footer


